extends ../../node_modules/pug-bootstrap/_bootstrap
block body
    div.container

    div.col-sm-6.col-sm-offset-3

        h1 Signup Sucess 
    
        p Thanks for signing up for codeConects! 
        p You will be contacted when your application is approved. 
        p If you have not yet submitted an application, 
        a(href="") apply here. 