.EmailSubscriptionFormContainer{

}

.EmailSubscriptionBox {
  padding:0.7em 0.5em;
  margin-top:0.5em;
  margin-bottom:0.5em;
  margin-right:0;
  margin-left:0;
  font-size:1em;
  border:#EA493D 0.05em solid;
}
.EmailSubscriptionBoxButton{
  background-color:#EA493D;
  color:white;
}
