extends ../node_modules/pug-bootstrap/_bootstrap
block body
    div.container
        div.jumbotron.text-center
            h1 Code Connects

            p Login or Register with

            a(href='/login' class='btn btn-default') Local Login
            a(href='/signup' class='btn btn-default') Local Signup
        </div>
