extends ../node_modules/pug-bootstrap/_bootstrap
block body
    div.container

        div.page-header.text-center
            h1 Profile Page
            a(href='/logout' class='btn btn-default btn-sm') Logout