extends ../node_modules/pug-bootstrap/_bootstrap

block body
    include ./mixins/util
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")

    div.container-fluid
        h1.
            User List
        div#filters.row.container
                form(action="/userlist" method="post" id="filterUserListForm")
                     
                ul#userlist
                    each user in userlist
                        div.well.container
                            strong #{user.last_name}, #{user.first_name} 
                            br
                            |#{user.focus}
                            br
                            a(href="mailto:#{user.email}")= user.email
                            br
    
    //- ajax calls and teacher list controllers
    script(src='js/userlist.js')
        

        
