extends ../../node_modules/pug-bootstrap/_bootstrap

block body
    div.container

    div.col-sm-6.col-sm-offset-3

        h1 Update Bio

        <!-- LOGIN FORM -->
        form(action="/teacher-bio" method="post")
            div.form-group
                label(for='name') First Name
                input.form-control(type='text' placeholder='Arya' name='name')
            div.form-group
                label(for='employer') Current Institute (College / Place of Employment)
                input.form-control(type='text' placeholder='e.g. The Coding School' name='employer')
            div.form-group
                label(for='bio') Tell us about why yourself (projects, ares of focus, internships)
                input.form-control(type='text' name='bio')

            button.btn.btn-warning.btn-lg(type='submit') Submit Profile