.PagePreviewBoxContainer{
  padding-top:0;
  width:80%;
  margin:auto;
  margin-top:1em;
  display:flex;
  flex-direction: row;
  box-shadow: 0.15em 0.15em 0.15em #9C9C9C;
  justify-content: flex-start;
  align-items: center;
  border-top:0.01em solid;
  border-top-color:#DDDDDD;
}

.PagePreviewBoxImageContainer{
  padding-right:5%;
  width:35%;
}

.PagePreviewBoxTextContainer{
  padding-right:5%;
  width:60%;
  border-top-color: #9C9C9C;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
