.HeaderContainer{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin-right:0.5em;
}

.HeaderButtonsContainer{

}
.HeaderButton{
  box-shadow: 0.15em 0.15em 0.15em #9C9C9C;
  padding:0.7em 0.5em;
  margin:0.5em;
  font-size:1em;
  align-self: flex-end;
}

.HeaderButtonLogin{
  background-color: white;
  border:#EA493D 0.05em solid;
  color:#EA493D;
}

.HeaderButtonDonate{
  background-color:#EA493D;
  border:#EA493D 0.05em solid;
  color:white;
}
